/************************************** HEADER **************************************/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    height: 115px;
    background-image: url(/img/header_background.jpg);
    background-size: 100% 100%;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo__img{
    width: 50px;
    height: 50px;
}
.header__logo__text{
    color: #f6f6f6;
    font-size: 35px;
}
.search__field{
    align-items: center;
    border-radius: 30px;
    background-color: #ffffff;
} 
#search{
    height: 35px;
    width: 220px;
    border-radius: 30px;
    border: none;
    outline: none;
}
.search__icon {
    width: 20px;
    height: 20px;
    order: 1;
    border: none;
    margin-right: 10px;
}

/************************************** MAIN **************************************/
#giphy__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.giphy {
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 300px;
}

  